:root {
  /* ### Primary */

  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* ### Neutral */

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--Very-light-gray);
}
button {
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.replyButton {
  background-color: inherit;
  color: var(--moderate-blue);
  font-size: 16px;
  font-weight: 700;
}
.avatar {
  object-fit: cover;
  width: 35px;
  height: 35px;
}
span,
p {
  color: var(--Grayish-Blue);
  font-weight: 300;
}
ul {
  list-style: none;
}
.container {
  min-height: 100vh;
  padding: 90px 20px;
}
.commentsList {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* @media only screen and (max-width: 375px) {
  .commentsList {
    width: 400px;
  }
} */
.commentBoxContainer {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row !important;
  gap: 20px;
}
.commentBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vote {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 100px;
  background-color: var(--Very-light-gray);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}
.vote span {
  color: var(--moderate-blue);
  font-weight: 500;
}
.vote img {
  width: 12px;
  margin: 5px 0;
}
.comment {
  width: 100%;
}
.topSection {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.userInfo h4 {
  font-size: 16px;
  font-weight: 500;
}
.bottomSection {
  max-width: 100%;
}
/**** Add Reply ****/
.replyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  gap: 20px;
}
.replyContainer::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: var(--Light-gray);
}
.replyBox {
  max-width: 625px;
  width: 100%;
}
.replyBox .editButtons {
  display: flex;
  gap: 25px;
}
.replyBox .editButtons button {
  font-size: 16px;
}
.replyBox .editButtons .danger {
  color: var(--soft-red);
}
.replyBox .you {
  color: white;
  font-size: 12px;
  background-color: var(--moderate-blue);
  padding: 2px 4px;
  font-weight: 500;
}
/**** Add Comment ****/
.addComment {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.addComment .imgContainer {
  width: 60px;
  text-align: center;
}
.addComment .imgContainer .replyAvatar {
  width: 45px;
  height: 45px;
}
.textarea {
  width: 100%;
  border: 1px solid var(--Light-gray);
  resize: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  color: var(--Grayish-Blue);
  font-weight: 500;
  outline: none;
  margin-bottom: 10px;
}
.submitButton,
.submit,
.addNewComment {
  padding: 10px 30px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--moderate-blue);
  color: var(--White);
  font-size: 16px;
  float: right;
}
/* Modal */
.modal-invisible {
  display: none;
  background-color: rgba(0, 0, 0, 0.312);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.modalContainer {
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  width: 400px;
  border-radius: 10px;
}
.modalContainer h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--Dark-blue);
}
.modalContainer p {
  margin-bottom: 20px;
  line-height: 22px;
}
.buttonsModal {
  display: flex;
  justify-content: space-between;
}
.modalContainer button {
  color: var(--White);
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
.modalContainer .yes {
  background-color: var(--soft-red);
}
.modalContainer .no {
  background-color: var(--Grayish-Blue);
}
