:root {
  /* ### Primary */

  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* ### Neutral */

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: var(--Very-light-gray);
}
a {
  color: red;
}
button {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.replyButton {
  background-color: inherit;
  color: var(--moderate-blue);
  font-size: 16px;
  font-weight: 700;
}
.replyButton:hover,
.submit:hover,
.addNewComment:hover {
  opacity: 0.5;
}
.avatar {
  object-fit: cover;
  width: 35px;
  height: 35px;
}
span,
p {
  color: var(--Grayish-Blue);
  font-weight: 300;
}
ul {
  list-style: none;
}
.container {
  min-height: 100vh;
  padding: 55px 20px;
}
.commentsList {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.commentBoxContainer {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row !important;
  gap: 20px;
}
.commentBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.vote {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 100px;
  background-color: var(--Very-light-gray);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.vote button {
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 0.3s;
}
.vote .upVote {
  background-image: url("./images/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.vote .downVote {
  background-image: url("./images/icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.vote .upVote:hover,
.vote .downVote:hover {
  filter: invert(35%) sepia(59%) saturate(844%) hue-rotate(204deg)
    brightness(86%) contrast(88%);
}
.vote span {
  color: var(--moderate-blue);
  font-weight: 500;
}
.vote img {
  max-width: 100%;
}
.comment {
  width: 100%;
}
.topSection {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.userInfo h4 {
  font-size: 16px;
  font-weight: 500;
}
.bottomSection {
  max-width: 100%;
}
/**** Add Reply ****/
.replyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  gap: 20px;
}
.replyContainer::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: var(--Light-gray);
}
.replyBox {
  max-width: 625px;
  width: 100%;
}
.replyBox .editButtons {
  display: flex;
  gap: 25px;
}
.replyBox .editButtons button {
  font-size: 16px;
}
.replyBox .editButtons .danger {
  color: var(--soft-red);
}
.replyBox .you {
  color: white;
  font-size: 12px;
  background-color: var(--moderate-blue);
  padding: 2px 4px;
  font-weight: 500;
}

/**** Add Comment ****/
.addComment {
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.addComment .imgContainer {
  width: 60px;
  text-align: center;
}
.addComment .imgContainer .replyAvatar {
  width: 45px;
  height: 45px;
}
.textarea {
  width: 100%;
  border: 1px solid var(--Light-gray);
  resize: none;
  overflow: auto;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  color: var(--Grayish-Blue);
  font-weight: 500;
  outline: none;
  margin-bottom: 10px;
}
.textarea:focus {
  border: 1px solid var(--moderate-blue);
}
.submitButton,
.submit,
.addNewComment {
  padding: 10px 30px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--moderate-blue);
  color: var(--White);
  font-size: 16px;
  float: right;
}
/* Modal */
.modal-invisible {
  display: none;
  background-color: rgba(0, 0, 0, 0.312);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.modalContainer {
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  width: 400px;
  border-radius: 10px;
}
.modalContainer h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--Dark-blue);
}
.modalContainer p {
  margin-bottom: 20px;
  line-height: 22px;
}
.buttonsModal {
  display: flex;
  justify-content: space-between;
}
.modalContainer button {
  color: var(--White);
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
.modalContainer .yes {
  background-color: var(--soft-red);
}
.modalContainer .no {
  background-color: var(--Grayish-Blue);
}
@media only screen and (max-width: 740px) {
  .replyContainer {
    align-items: end;
  }
  .replyContainer li {
    width: 90%;
  }
  .replyContainer::before {
    left: 12px;
  }
}
@media only screen and (max-width: 460px) {
  .commentBoxContainer {
    position: relative;
    flex-direction: column-reverse !important;
  }
  .vote {
    flex-direction: row;
    height: 40px;
    width: 90px;
  }
  .topSection {
    flex-direction: column;
  }
  .userInfo {
    gap: 5px;
  }
  .userInfo img {
    margin-right: 15px;
  }
  .userInfo h4 {
    font-size: 14px;
  }
  .replyButton,
  .submitButton,
  .addNewComment,
  .submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 14px !important;
  }
  .danger {
    right: 70px;
  }
  p,
  span {
    font-size: 14px;
  }
  .addComment {
    position: relative;
    flex-direction: column-reverse;
  }
  .modalContainer {
    width: 300px;
  }
  .modalContainer h3 {
    font-size: 18px;
  }
  .modalContainer button {
    font-size: 13px;
    padding: 10px 15px;
  }
}
